
/*
     FILE ARCHIVED ON 09:39:43 May 31, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:39:16 Oct 04, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 517.773
  exclusion.robots: 0.196
  exclusion.robots.policy: 0.18
  RedisCDXSource: 1.12
  esindex: 0.013
  LoadShardBlock: 491.86 (3)
  PetaboxLoader3.datanode: 495.031 (4)
  CDXLines.iter: 20.033 (3)
  load_resource: 91.577
  PetaboxLoader3.resolve: 50.676
*/